+b.SECTION.contact
	+e.container.container
		+e.H3.title.title-sm.wow.fadeInUp
			| Leave a request to order.
			br
			| We will call back within 15 minutes
		+e.FORM.form.form__._line._transparent.wow.fadeInUp(data-wow-delay="0.1s")
			+e.content
				+e.row
					+e.INPUT.control(name="vname" type="text" placeholder="Name")
				+e.row
					+e.INPUT.control(name="vphone" type="phone" placeholder="Phone")
				+e.row
					+e.BUTTON.submit.btn._size-lg._border-brand-1._arrow.effect._bounce-top(type="submit") Order