+b.SECTION.contact
	+e.container.container
		+e.H3.title.title-sm
			| Для замовлення залишіть заявку.
			br
			| Ми перетелефонуємо протягом 15 хв
		+e.FORM.form.form__._line
			+e.content
				+e.row
					+e.INPUT.control(name="vname" type="text" placeholder="Ім'я")
				+e.row
					+e.INPUT.control(name="vphone" type="phone" placeholder="Телефон")
				+e.row
					+e.BUTTON.submit.btn._size-lg._border-brand-1._arrow.effect._bounce-top(type="submit") ЗАМОВИТИ