+b.FOOTER.footer
	+e.container.container
		p 2021. All rights reserved

+b.modal._center#modal-form
	+e.box._default
		+e.header
			+e.P.title Order
			+e.BUTTON.close(data-close="modal") &times;
		+e.body
			+b.FORM.form._block
				+e.content
					+e.row
						+e.INPUT.control(name="vname" type="text" placeholder="Name")
					+e.row
						+e.INPUT.control(name="vphone" type="phone" placeholder="Phone")
					+e.row
						+e.BUTTON.submit.btn._size-lg._border-brand-1._arrow.effect._bounce-top(type="submit") Order