+b.HEADER.header
	+e.container.container
		+e.content
			+e.H1.title.title-md.wow.fadeInUp(data-wow-delay="0.1s")
				| Смачні та корисні
				br
				span.weight-bold Медові Горішки
			+e.H2.subtitle.title-sm.wow.fadeInUp(data-wow-delay="0.2s") 100% натуральний продукт, не містить цукор, лише горіхи, насіння і мед.
			+e.H3.price.wow.fadeInUp(data-wow-delay="0.3s") Вартість 140 грн
			+e.BUTTON.btn.btn._size-lg._border-brand-1._arrow.effect._bounce-top.wow.fadeInUp(data-action="modal" data-open="#modal-form" data-wow-delay="0.4s") ЗАМОВИТИ