+b.HEADER.header
	+e.container.container
		+e.content
			+e.H1.title.title-md
				| Смачні та корисні
				br
				span.weight-bold Медові Горішки
			+e.H2.subtitle.title-sm 100% натуральний продукт, не містить цукор, лише горіхи, насіння і мед.
			+e.H3.price Вартість 140 грн
			+e.BUTTON.btn.btn._size-lg._border-brand-1._arrow.effect._bounce-top(data-action="modal" data-open="#modal-form") ЗАМОВИТИ