+b.SECTION.payment
	.container
		.row
			+e.column.col-12.col-sm-6.wow.fadeInLeft
				+e.H3.title.title-md Умови доставки
				+e.text
					p - Доставка по Києву до дверей здійснюється на наступний день або в наступні дати (за домовленістю). Вартість 50 грн.
					p - Доставка по регіонах України компанією Нова пошта здійснюється за адресами представництв Нової пошти. Оплата за доставку здійснюється при отриманні замовлення у відділенні Нової пошти.
					p - Безкоштовна доставка по Києву від 700 грн. 
					p - Самовивезення. Можна забрати своє замовлення за адресою м.Шулявська,  проспект Перемоги 44, на території Кіностудії Довженко.
			+e.column.col-12.col-sm-6.wow.fadeInRight
				+e.H3.title.title-md Оплата
				+e.text
					p
						| - Готівковий розрахунок
						br
						| Здійснюється при доставці замовлення кур'єром магазину
					p
						| - Безготівковий розрахунок
						br
						| Здійснюється шляхом поповнення карти ПриватБанку за наступними реквізитами:
						br
						span.weight-bold 5168 7450 1220 6634 Конончук Марина
					 
					p Ваше замовлення буде виконано одразу після надходження оплати на наш рахунок.