+b.SECTION.payment
	.container
		.row
			+e.column.col-12.col-sm-6.wow.fadeInLeft
				+e.H3.title.title-md Terms of delivery
				+e.text
					p - Delivery in Kiev to the door is carried out the next day or on subsequent dates (by arrangement). The cost is UAH 50.
					p - Delivery in the regions of Ukraine by Nova Poshta is carried out at the addresses of Nova Poshta's representative offices. Payment for delivery is made upon receipt of the order at the New Post Office.
					p - Free delivery in Kiev from 700 UAH.
					p - Self-pickup. You can pick up your order at Shulyavska, 44 Peremohy Avenue, on the territory of Dovzhenko Film Studio.
			+e.column.col-12.col-sm-6.wow.fadeInRight
				+e.H3.title.title-md Payment
				+e.text
					p
						| - Cash payment
						br
						| Carried out when the order is delivered by courier store
					p
						| - Cashless payments
						br
						| Carried out by replenishing the PrivatBank card according to the following details:
						br
						span.weight-bold XXXX XXXX XXXX XXXX K. Darina
					p Your order will be processed immediately upon receipt of payment to our account.