+b.HEADER.header._thx
	+e.container.container
		+e.content
			+e.H1.title.title-md.wow.fadeInUp(data-wow-delay="0.1s") Дякуємо за замовлення.
			+e.H2.subtitle.title-sm.wow.fadeInUp(data-wow-delay="0.2s") Ми зв'яжемося з вами найближчим часом