-
	var whyTitle = 'Why buy Honey Nuts?';
	
	var reasons = [
		{
			img: 'img/why1.jpg',
			title: 'Useful',
			content: 'Has healing properties',
			delay: '0.05s'
		},
		{
			img: 'img/why2.jpg',
			title: 'Deliciously',
			content: 'Every spoon is like a little candy',
			delay: '0.1s'
		},
		{
			img: 'img/why3.jpg',
			title: 'Small',
			content: "Just 3 tablespoons and you're not hungry anymore",
			delay: '0.2s'
		},
		{
			img: 'img/why4.jpg',
			title: 'Reliably',
			content: '100% natural products',
			delay: '0.3s'
		}
	];

+b.SECTION.why
	.container
		+e.H3.title.title-md=whyTitle
		+e.content.row
			each reason in reasons
				+e.column.col-12.col-sm-6.wow.fadeInUp(data-wow-delay=reason.delay)
					+e.item.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
						+e.item-flipper.flipper
							+e.item-front.front
								+e.item-front-image(src=reason.img)
							+e.item-back.back
								+e.item-back-background(src=reason.img)
								+e.item-back-content
									+e.P.item-back-title=reason.title
									+e.item-back-text
										p=reason.content