-
	var workTitle = 'How we work';
	var works = [
		{
			mod: '1',
			img: 'img/work1.svg',
			title: 'You order',
			delay: '0.05s'
		},
		{
			mod: '2',
			img: 'img/work2.svg',
			title: 'Confirm',
			delay: '0.15s'
		},
		{
			mod: '3',
			img: 'img/work3.svg',
			title: 'You get',
			delay: '0.25s'
		}
	];

+b.SECTION.work
	.container
		+e.H3.title.title-md=workTitle
		+e.content
			each work in works
				+e.item(data-wow-delay=work.delay class="_" + work.mod + " wow fadeInUp")
					+e.item-inner
						+e.item-content
							+e.item-header
								+e.item-icon(src=work.img)
							+e.P.item-title=work.title