+b.SECTION.work
	.container
		+e.H3.title.title-md Як ми працюємо
		+e.content
			+e.item._1
				+e.item-header
					+e.item-icon(src="img/work1.svg")
				+e.P.item-title Замовляєте
			+e.item._2
				+e.item-header
					+e.item-icon(src="img/work2.svg")
				+e.P.item-title Підтверджуєте
			+e.item._3
				+e.item-header
					+e.item-icon(src="img/work3.svg")
				+e.P.item-title Отримуєте