+b('work')
	+relative
	+padding-y(45px)
	background-color: $color-brand-1

	+e('title')
		text-align: center
		margin-bottom: 30px
		color: $color-black

	+e('content')

		+relative


		+min(sm)
			height: 340px

			+bg('../img/bg-work.png')

	+e('item')

		+ee('icon')
			height: 55px

		+ee('title')
			color: $color-white