+b('work')
	+relative
	+padding-y(45px)
	background-color: $color-brand-1

	+e('title')
		text-align: center
		margin-bottom: 30px
		color: $color-black

	+e('content')

		+relative


		+min(sm)
			height: 340px

			+bg('../img/bg-work.png', 27% 0)

		+min(md)
			background-position-x: 0%

	+e('item')

		text-align: center

		+ee('icon')
			height: 55px

		+ee('title')
			color: $color-white
			font-size: 16px

			+min(lg)
				font-size: 18px

		+max(sm)
			text-align: center
			+ee('inner')
				display: inline-flex
				align-items: center
				justify-content: center
				+size(198px, 174px)
				+bg('../img/work-item.png')

		+min(sm)
			+absolute(125px)
			+m('1')
				left: 77px
			+m('2')
				left: 303px
			+m('3')
				left: 555px

		+min(md)
			top: 125px
			+m('1')
				left: 155px
			+m('2')
				left: 380px
			+m('3')
				left: 630px

		+min(lg)
			top: 145px
			+m('1')
				left: 175px
			+m('2')
				left: 430px
			+m('3')
				left: 715px