extends /extends/layout
block variables
	- var title = "Смачні та корисні медові горішки";
	- var description = "100% натуральний продукт, не містить цукор, лише горіхи, насіння і мед.";
	- var url = "http://adventuretours.in.ua/test/oreshki/";
	- var image = "http://adventuretours.in.ua/test/oreshki/img/bg-header.jpg";

block nav
	include /sections/nav
block content
	include /sections/header
	include /sections/composition
	include /sections/work
	include /sections/why
	include /sections/review
	include /sections/payment
	include /sections/contact
block footer
	include /sections/footer