extends /extends/layout
block variables
	- var title = "Смачні та корисні медові горішки";
	- var description = "Смачні та корисні медові горішки";
block nav
	include /sections/nav
block content
	include /sections/header
	include /sections/composition
	include /sections/work
	include /sections/why
	include /sections/review
	include /sections/payment
	include /sections/contact
block footer
	include /sections/footer