extends /extends/layout
block variables
	- var title = "Дякуємо за замовлення.";
	- var description = "Ми зв'яжемося з вами найближчим часом";
	- var url = "http://adventuretours.in.ua/test/oreshki/thx.html";
	- var image = "http://adventuretours.in.ua/test/oreshki/img/bg-header.jpg";
block nav
	include /sections/nav
block content
	include /sections/thx
block footer