+b.fixed._md-top
	+b.nav._style
		+e.container.container
			+e.row.row
				+e.logo.col-4.col-md-3
					+e.logo-content
						+e.logo-content-img(src="img/logo.svg" alt=title)
				+e.addition.col-8.col-md-3#js-nav-addition
					+e.addition-toggle#js-nav-toggle
						span
						span
						span
					+e.addition-links.js-nav-links
						+e.A.addition-link(href="tel: +38 073 450 59 04") +38 073 450 59 04